:host {
    --primary-color: rgb(11, 78, 179);
}

.file-input {
    display: none;
}

/* Tickbar */
.tick-bar {
    position: relative;
    display: flex;
    justify-content: space-between;
    counter-reset: tick_c;
    margin: 2rem 0 4rem;
}

.tick-bar::before,
.tick-line {
    content: "";
    position: absolute;
    top: 48%;
    /* transform: translateY(-10%); */
    height: 4px;
    width: 100%;
    /* background-color: #dcdcdc; */
    z-index: -1;
}

.tick-step {
    width: 2.1875rem;
    height: 2.1875rem;
    /* background-color: #dcdcdc; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/* .tick-step::before {
    counter-increment: tick_c;
    content: counter(tick_c);
  } */

.tick-step::after {
    content: '\2713';
    position: absolute;
    top: calc(100% + 0.5rem);
    font-size: 0.95rem;
    /* color: white; */
    font-weight: bold;
    font-size: large;
}

/* Progressbar */
.progressbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    counter-reset: step;
    margin: 2rem 0 4rem;
}

.progressbar::before,
.progress {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    background-color: #dcdcdc;
    z-index: -1;
}

.progress {
    background-color: var(--primary-color);
    width: 0%;
    transition: 0.3s;
}

.progress-step {
    width: 2.1875rem;
    height: 2.1875rem;
    background-color: #dcdcdc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-step::before {
    counter-increment: step;
    content: counter(step);
}

.progress-step::after {
    content: attr(data-title);
    position: absolute;
    top: calc(100% + 0.5rem);
    font-size: 0.85rem;
    color: #666;
}

.progress-step-active {
    background-color: var(--primary-color);
    /* background-color: purple; */
    color: #f3f3f3;
}

.btns-group {
    display: flex;
    flex-flow: nowrap;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.75rem;
}

button {
    margin-right: 1vw;
    background: #4285F4;
    color: white;
    font-size: 12px;
    height: auto;
    width: 150px;
}

button:disabled {
    margin-right: 1vw;
    background: darkgray;
    color: white;
    font-size: 12px;
    height: auto;
    width: 150px;
}

.down_form {
    width: clamp(420px, 30%, 430px);
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 0.35rem;
    padding: 1.5rem;
    justify-content: center;
}

.up_form {
    width: clamp(420px, 30%, 430px);
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 0.35rem;
    padding: 1.5rem;
}

.form-step {
    display: none;
    transform-origin: top;
    animation: animate 0.5s;
}

.form-step-active {
    display: block;
}

@keyframes animate {
    from {
        transform: scale(1, 0);
        opacity: 0;
    }

    to {
        transform: scale(1, 1);
        opacity: 1;
    }
}

.up_completed{
    visibility: hidden;
    color: var(--primary-color);
    font-size: 17px;
    display: flex;
    justify-content: center;
}

.go_home {
    visibility: hidden;
    display: flex;
    justify-content: center;
}