<div class="w-full gap-y-0 mt-5" style="margin-left: 50px; width: 30%">
    <div class="w-1/2">
        <p class="text-lg font-medium">Manage data</p>
    </div>
    <div class="grid grid-cols-1 bg-white px-4 py-4 mt-10">
        <input type="file" matTooltip="Select excel file" #fileInput (change)="onFileSelected($event)" class="py-4">
        <button mat-raised-button matTooltip="Click to upload excel sheet of products" (click)="uploadFile()" class="bg-blue-500 text-white px-4 py-2 rounded">
            Upload excel sheet
        </button>
        <mat-progress-bar *ngIf="uploadProgress" mode="determinate" [value]="uploadProgress"></mat-progress-bar>
    </div>
    <div class="grid bg-white px-4 py-10">
        <button mat-raised-button matTooltip="Click to download excel sheet of products" (click)="downloadData()" class="bg-blue-500 text-white px-4 py-2 rounded">
            Download excel sheet
        </button>
    </div>
</div>
