<mat-form-field class="rounded">
  <!-- class="text-red-400 text-xl" -->
  <mat-label>sku</mat-label>
  <input type="text" placeholder="Select sku" aria-label="SKU" matInput [formControl]="skuInput"
    [matAutocomplete]="auto" style="text-transform: uppercase;" />
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="show($event.option.value)">
    @for (option of filteredOptions | async; track option) {
    <mat-option [value]="option">{{ option }}</mat-option>
    }
  </mat-autocomplete>
</mat-form-field>