table {
    width: 60%;
    /* border: 1px; */
    margin-left: 50px;

    tr {
        width: 100%;
    }

    th {
        padding: 10px;
        border: 1px solid;
        width: 20%;
    }
    td {
        padding: 1rem;
        border: 1px solid;
        width: 80%;
    }
}