<div class="flex flex-col mt-10" style="margin-left: 50px; width: 80%">
    <div class="w-full">
        <h2 class="text-xl font-semibold">Admin</h2>
    </div>
    <div class="w-full">
        <div class="flex justify-end">
            <span class="space-x-4">
                <mat-form-field>
                    <mat-label>Choose an action</mat-label>
                    <mat-select [(value)]="selectedAdminAction" (selectionChange)="showAdminActionDiv($event)">
                      <mat-option value="new_user">Create new user</mat-option>
                      <mat-option value="show_users">Show all users</mat-option>
                      <mat-option value="update_users">Update users</mat-option>
                      <mat-option value="manage_data">Manage data</mat-option>
                    </mat-select>
                  </mat-form-field>
            </span>
        </div>
    </div>
    <app-create-user *ngIf="div_hide_list[0]"></app-create-user>
    <app-show-users *ngIf="div_hide_list[1]"></app-show-users>
    <app-update-users *ngIf="div_hide_list[2]"></app-update-users>
    <app-manage-data *ngIf="div_hide_list[3]"></app-manage-data>
</div>
