<div class="w-full gap-y-0 mt-5" style="margin-left: 50px; width: 70%">
    <div class="w-full">
        <p class="text-lg font-medium">All users</p>
    </div>
    <div class="w-full">
        <table>
            <tr>
                <th></th>
                <th>email</th>
                <th>first_name</th>
                <th>last_name</th>
                <th>admin</th>
            </tr>
            @for (user of users; track user; let i = $index) {
            <tr>
                <td>{{ i+1 }}</td>
                <td>{{user.email}}</td>
                <td>{{user.first_name}}</td>
                <td>{{user.last_name}}</td>
                <td>{{user.admin? 'Yes': 'No'}}</td>
                <!-- <td><button mat-raised-button (click)="editProduct(prod.sku)" class="bg-blue-500 text-white px-4 py-2 rounded">Select</button></td> -->
            </tr>
            }
            <!-- </span> -->
        </table>
    </div>
</div>