/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/indigo-pink.css';

@import './tailwind.css';


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.tw_snackbar {
    --mdc-snackbar-container-color: aqua !important;
    --mdc-snackbar-supporting-text-color: red !important;
    --mat-snack-bar-button-color: #ff4081;
  }
